################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TemporaryField/bin/Debug/netcoreapp2.2
/TemporaryField/obj
